<div class=" p-0 flex  justify-between items-center ">

    <div class="flex flex-col   text-left space-y-10 font-serif text-xl  p-12 font-bold">
         <b class="text-center text-6xl font-serif" > Contact Me</b>
        <b><span class="text-pink-700">Feel free to reach out</span> — I’m always open to new ideas, collaborations, or simple question.</b>
       <div>
        <div class="flex justify-center items-center ">
            <img src="/contact.png " class="w-10 h-10 ">
            <p>{{user.email}}</p>
        </div>
        <div class=" flex items-center justify-center  " >
            <img src="/phone.png " class="w-10 h-10">
            <b>{{user.phone}}</b>
        </div>
        </div>

    </div>
    <div>
        <img src="/image6.png" alt="Moi" class="w-83 h-auto mt-10" />
    </div>

  
    
</div>
