
<div>

<!-- partie who i'm -->
<div class="p-0 flex flex-col md:flex-row justify-between items-center">
  <!-- Texte -->
  <div class="flex flex-col justify-center text-left space-y-6 sm:space-y-8 font-serif text-lg sm:text-xl p-6 sm:p-12 font-bold">
    <b class="text-center text-3xl sm:text-4xl md:text-6xl">
      Know Who <span class="text-pink-700">I'M</span>
    </b>

    <p class="text-sm sm:text-base md:text-lg">
      Hi Everyone, I am <span class="text-pink-700">Kahweji Sirine</span> from Bizerte,
      <span class="text-pink-700">Tunisia</span>.
      <br>I am a recent graduate from ISET Bizerte, specialized in the development of information systems.
      <br>I am passionate about technology and continuously seeking to improve my skills in software development.
    </p>

    <p class="text-sm sm:text-base md:text-lg">
      Apart from coding, some other activities that I love to do!
    </p>

    <ul class="space-y-2 pl-6 text-sm sm:text-base">
      <li class="flex items-center">
        <img src="/icon1.png" class="w-6 h-6 sm:w-7 sm:h-7"> Reading books
      </li>
      <li class="flex items-center">
        <img src="/icon1.png" class="w-6 h-6 sm:w-7 sm:h-7"> Drawing
      </li>
      <li class="flex items-center">
        <img src="/icon1.png" class="w-6 h-6 sm:w-7 sm:h-7"> Sport
      </li>
    </ul>

    <div class="flex justify-center items-center text-center text-sm sm:text-base">
      <img src="/icon2.png" class="w-6 h-6 sm:w-7 sm:h-7">
      <b class="text-[#6A5C90] italic px-2">" Driven by curiosity, powered by code "</b>
      <img src="/icon2.png" class="w-6 h-6 sm:w-7 sm:h-7">
    </div>
  </div>

  <!-- Image -->
  <div class="flex justify-center mt-6 md:mt-10">
    <img src="/image4.png" alt="Moi" class="w-40 sm:w-56 md:w-72 h-auto" />
  </div>
</div>

<!-- partie skills -->
 <div class="p-10 flex flex-col font-bold">
    <b class="text-center lg:text-6xl font-serif text-4xl ">  Professional <span class="text-[#6A5C90]" >Skillset</span> </b>
    <div class=" grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 pt-10">
      <div class="flex  justify-center items-center  rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/python.png" class="w-14 h-14"> <span>Python</span></div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/html.png" class="w-20 h-15"> <span> HTML </span> </div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/css.png" class="w-20 h-22"> <span> CSS </span>  </div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/js.png"  class="w-20 h-14" > <span>JavaScript</span></div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/java.png" class="w-16 h-16"> <span>  Java </span></div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/php.png"  class="w-20 h-20" > <span> PHP </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/kotlin.png" class="w-12 h-12"> <span> Kotlin </span></div>
      <div class="flex  justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/maysql.png" class="w-20 h-20"> <span> MySQL </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/androide.png" class="w-20 h-20" >  <span> Android </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/mongodb.png" class="w-22 h-20" > <span> MongoDB </span> </div>
      <div class="flex  justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/nodejs.png" class="w-20 h-10" > <span> Node JS </span></div>
      <div class="flex  justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/angular.png" class="w-12 h-12" > <span> Angular </span> </div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/reactjs.png" class="w-14 h-14" > <span> React JS </span>  </div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/vuejs.png" class="w-14 h-14"> <span> Vue JS </span> </div>
      <div class="flex justify-center items-center rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/flutter.png" class="w-20 h-20"> <span> Flutter </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/springboot.png" class="w-12 h-12"> <span> SpringBoot </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/c.png" class="w-14 h-14"> <span> C </span> </div>
      <div class="flex justify-center items-center rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/laravel.png" class="w-20 h-20"> <span> Laravel </span> </div>
    </div>
 </div>


 <!-- partie tools -->


 <div class="p-10 flex flex-col font-bold items-center justify-center">
    <b class="text-center lg:text-6xl text-4xl font-serif ">  <span class="text-[#6A5C90]" > Tools </span>I use </b>
    <div class=" grid lg:grid-cols-4  md:grid-cols-2 ms:grid-cols-1 gap-4 p-12">
      <div class="flex  justify-center items-center  p-4 rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/vs.png" class="w-14 h-14"> <span>VS Code</span></div>
      <div class="flex justify-center items-center p-4 rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/postman.png" class="w-14 h-14"> <span> Postman </span> </div>
      <div class="flex justify-center items-center p-4 rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/androidstudio.png" class="w-14 h-14"> <span> Android Studio </span>  </div>
      <div class="flex justify-center items-center p-4 rounded-full hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/git.png"  class="w-14 h-14" > <span>Git</span></div>

    </div>
    <div class=" grid lg:grid-cols-2  md:grid-cols-2 ms:grid-cols-1 gap-4 ">
      <div class="flex justify-center items-center p-4  rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/github1.png" class="w-16 h-16"> <span>  GitHub </span></div>
      <div class="flex justify-center items-center p-4 rounded-full  hover:bg-[rgba(189,172,236,0.3)] hover:shadow-[0_0_15px_5px_rgba(106,92,144,0.6)]"><img src="/adobexd.png"  class="w-14 h-14" > <span> Adobe XD </span> </div>

    </div>
 </div>



</div>

