<div class=" p-0 flex  justify-between items-center ">
        
  <div class="flex flex-col  justify-center text-left space-y-10 font-serif text-xl  p-12 font-bold">
           <b class="text-center text-6xl">Know Who <span class="text-pink-700">I'M</span></b>
           <p>Hi Everyone, I am <span class="text-pink-700">Kahweji Sirine</span> from Bizerte,<span class="text-pink-700">Tunisia</span>.
           <br>I am a recent graduate from ISET Bizerte, specialized in the development of information systems.
           <br>I am passionate about technology and continuously seeking to improve my skills in software development.</p>

           <p>Apart from coding, some other activities that I love to do!</p>
           <ul class="space-y-2 pl-6">
            <li class="flex"> <img src="\icon1.png " class="w-7 h-7">  Reading books </li>
            <li class="flex"><img src="\icon1.png" class="w-7 h-7">    Drowing </li>
            <li class="flex"><img src="\icon1.png" class="w-7 h-7">    Sport </li>
           </ul>
           <div class="flex justify-center items-center">
              <img src="\icon2.png " class="w-7 h-7">
              <b class="text-[#6A5C90] italic">" Driven by curiosity, powered by code "</b>
              <img src="\icon2.png " class="w-7 h-7">
           </div>
        </div>
       <div>
            <img src="/image4.png" alt="Moi" class="w-63 h-auto mt-10" />
        </div>

</div>


