<nav class=" bg-[#AFA9D9] text-white p-5 font-bold fixed z-50 w-full">
    <ul class="flex space-x-4 ">
        <li >  <a routerLink="/" class="flex "><img src="/home.png" class="w-7 h-7">Home</a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/about.png" class="w-7 h-5 mt-1">About </a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/projects.png" class="w-9 h-7">Projects </a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/contact.png" class="w-7 h-7"> Contact </a> </li>

    </ul>
</nav>