<nav class=" bg-[#AFA9D9] text-white p-5 font-bold">
    <ul class="flex space-x-4 ">
        <li >  <a routerLink="/" class="flex "><img src="/home.png" class="w-7 h-7"> Accueil</a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/about.png" class="w-7 h-5 mt-1">À propos </a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/projects.png" class="w-9 h-7">Compétences </a> </li>
        <li>  <a routerLink="/" class="flex "> <img src="/contact.png" class="w-7 h-7"> Projets </a> </li>

    </ul>
</nav>