<nav class="bg-[#AFA9D9] text-white p-4 font-bold fixed z-50 w-auto rounded-lg shadow-lg">
  <ul class="flex flex-col space-y-3 md:flex-row md:space-y-0 md:space-x-3 items-center">
    <li>
      <a href="#home" class="flex items-center space-x-1">
        <img src="/home.png" class="w-7 h-7">
        <span class="hidden md:inline">Home</span>
      </a>
    </li>
    <li>
      <a href="#about" class="flex items-center space-x-1">
        <img src="/about.png" class="w-7 h-5 mt-1">
        <span class="hidden md:inline">About</span>
      </a>
    </li>
    <li>
      <a href="#projects" class="flex items-center space-x-1">
        <img src="/projects.png" class="w-9 h-7">
        <span class="hidden md:inline">Projects</span>
      </a>
    </li>
    <li>
      <a href="#contact" class="flex items-center space-x-1">
        <img src="/contact.png" class="w-7 h-7">
        <span class="hidden md:inline">Contact</span>
      </a>
    </li>
  </ul>
</nav>
