<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioSyrine</title>
</head>
<body class="m-0 p-0 bg-stars text-white">
 <!-- nav bar -->
    <app-navbar> </app-navbar>
 <!-- home -->
   <div class="relative h-screen w-full">
    <img src="/image5.jpg" alt="Background" class="absolute inset-0 w-full h-full object-cover" />
    
    <div class="flex flex-col justify-center text-left space-y-3 font-serif text-5xl p-12 relative z-10 h-full">
        <b>Hi There !</b>
        <b >I'm <span class="text-pink-800">Kahweji Sirine</span></b>
      <div class="w-88 h-48 flex  text-white text-center  text-4xl font-bold relative overflow-hidden">
    <!-- Solution pour Full-Stack Developer -->
    <div class="relative inline-block" *ngIf="currentText === 'fullstack'">
        <div class="animate-typing whitespace-nowrap overflow-hidden border-r-2 border-white pr-1">
            Full-Stack Developer
        </div>
    </div>
    
    <!-- Solution pour Mobile Developer -->
    <div class="relative inline-block" *ngIf="currentText === 'mobile'">
        <div class="animate-typing whitespace-nowrap overflow-hidden border-r-2 border-white pr-1">
            Mobile Developer
        </div>
    </div>
</div>
    </div>
</div>
<!-- contact fix -->
<div class="fixed bottom-4 right-4 z-50">
<div class=" bg-[#AFA9D9] rounded-full  inline-block">
        <ul class="  flex font-bold space-x-5 pl-8 pr-8  inline-block">
            <li ><a href="https://www.youtube.com/@sirinekahweji" class="flex"><img src="/youtube.png" class="w-10 h-10"> <span class="mt-2">Youtube</span></a></li>
            <li ><a href="https://github.com/sirinekahweji" class="flex"><img src="/github.png" class="w-12 h-10"> <span class="mt-2">GitHub</span></a></li>
            <li ><a href="https://www.linkedin.com/in/sirine-kahweji-1593b12a7/" class="flex"><img src="/linkedin.png" class="w-10 h-10"> <span class="mt-2">LinkedIn</span></a></li>
        </ul>

    </div>

</div>


<!-- about -->

<app-about></app-about>


<!-- projects -->
 <app-projects></app-projects>

 <!-- contact -->
  <app-contact></app-contact>
    
</body>
<footer>

</footer>
</html>
