/*annimation text*/

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.animate-typing {
  animation: typing 3s steps(40, end) forwards;
  display: inline-block;
  width: 0;
}

.bg-stars {
        background: 
          linear-gradient(to right, #F2B3D1, #EECEF2, #CAB4D9),
          url('https://www.transparenttextures.com/patterns/stardust.png');
        background-blend-mode: overlay;
      }
/*background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");*/





